@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: 0.2s linear;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

body {
    background: #381635;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
}

nav {
    background: linear-gradient(180deg, #D85B40 0%, rgba(41, 42, 134, 0.50) 100%);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

a {
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
div.logo a {
    align-items: center;
    
    display: inline-block;
}
div.logo img {
    height: auto;
    width: 100%;
    padding: 0.5rem;
}
.menu {
    padding: 1rem 1rem;
}
.menu-item {
    padding: 1rem 1rem;
    margin: 1rem;
    color: #030615;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu-item:hover {
    background: #fff;
    color: #121214;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    transition: background 0.2s, color 0.2s;
}
.menu-item span {
    padding-left: 0.125rem;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 2rem;
}