.body-caçadores{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #fff;
    background: #381635;
    padding: 1rem;
}

div.body-caçadores h1{
    align-items: center;
    padding: 1rem;
    text-transform: none;
}

.mensagem-vazio{
    
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: none;
}

.nome-caçadores {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5px;
    margin-left: 10px;
}

.status-caçadores {
    font-size: 1.1rem;
    margin: 5px;
}

.dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    margin-right: 10px;
}

.caçadores-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

table.caçadores-table td {
    padding: 1.25rem 2rem;
    background: black;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

    &:first-child{
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left: 1px solid #fff;
    }

    &:last-child{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-right: 1px solid #fff;
    }
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

form{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
}

label {
    font-weight: bold;
    font-size: 1.1rem;
}

select {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 40%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1c1347;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

input[type="submit"]:hover {
    background-color: #D85B40;
}