@charset "UTF-8";

.texto-home{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 1rem;
}


div.texto-home h1{
    align-items: center;
    padding: 1rem;
    text-transform: none;
}

div.texto-home p{
    align-items: center;
    padding: 1rem;
    text-transform: none;
}
.frase_inicial{
    color: #d85b40;
}