@charset "UTF-8";

.body-home{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #fff;
    background: #381635;
    padding: 1rem;
}

.frase_inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 2rem;
    width: 100%;
}

div.frase_inicial h1{
    display: flex;
    align-items: center;
    padding: 1rem;
    text-transform: none;
}

div.frase_inicial p{
    display: flex;
    align-items: center;
    padding: 1rem;
    text-transform: none;
}
