body{
  background-color: #381635;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
}

.logo_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_login img{
  height: auto;
  width: 50%;
  padding: 2rem;
}


.plano_fundo-login label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: row;
}

.login_palavras{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  
}

.input-login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  padding: 1rem;
}

.input-login input{
  cursor: pointer;
  border-radius: 3px;
  padding: 0.5rem;
}

.botoes-login{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.botoes-login input[type="submit"] {
  background-color: #1c1347;
  color:#fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem;
}

.botoes-login input[type="submit"]:hover {
  background-color: #D85B40; 
}