body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #FF6F61; /* cor laranja */
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.sidebar-icon {
    margin-bottom: 20px;
}

.sidebar-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

.notification {
    background-color: white;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 10px;
}

.content {
    flex: 1;
    background-color: #333;
    padding: 20px;
}

/* Estilização para a lista de projetos */
.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list-item {
    background-color: #FF00FF; /* cor roxa */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.botao-cadastro-projeto {
    background-color: #1d3f63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}
