{% extends 'paginas/base.html' %} 
{% block conteudo %}
    <div class="logo_inicio">
        <img src="https://cdn.discordapp.com/attachments/1167235296195248150/1167236171051585659/image.png?ex=654d6465&is=653aef65&hm=bbea7e9c9b0140a3cf14f15697a47f05207ecf1d30f0b6fe4f58f80474bcfe55&" alt="logo_inicio">

    </div>
    &nbsp;
        <form action="" method="POST">
          {% csrf_token %}
        
          {{ form.non_field_errors }}
        
          <div class="placeholder_cadastro">
            <div class= "plano_fundo">
              &nbsp;
              
              <!-- Input do Nome -->
              <div class="cadastro_palavras">
                <label for="{{form.username.id_for_label}}"><b>Username</b></label>
                <div class="col-sm-4">
                  {{form.username}}
                </div>
              </div>
        
              <!-- Input do Email -->
              <div class="cadastro_palavras">
                <label for="{{form.email.id_for_label}}"><b>Email</b></label>
                <div class="col-sm-4">
                  {{form.email}}
                </div>
              </div>
        
              <!-- Input da Senha1 -->
              <div class="cadastro_palavras">
                <label for="{{form.password1.id_for_label}}" ><b>Password</b></label>
                <div class="col-sm-4">
                  {{form.password1}}
                </div>
              </div>
        
              <!-- Input da Senha2 -->
              <div class="cadastro_palavras">
                <label for="{{form.password2.id_for_label}}" ><b>Repeat Password</b></label>
                <div class="col-sm-4">
                  {{form.password2}}
                </div>
              </div>
        
              <!-- Botão de Cadastro -->
                <div class="col-auto">
                  <button type="submit" id="botaoLogin" class="placement_botoes" >Cadastrar</button>
                </div>

                <div class="col-auto">
                  <a href="{% url 'inicio' %}" id="botaoLogin" class="placement_botoes" >Voltar</a>
                </div>
        
            </div>
          </div>
        </form>

        <!-- Mensagem de erro -->
        <div class="form-group row justify-content-center align-items-center">
          {% if form.errors or form.non_field_errors %}
            <div class="col-sm-12"> 
              {% for field in form%}
                {{ field.errors }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        
        
        &nbsp;  
    
    {% endblock %}
