{% extends 'paginas/base.html' %}
{% block conteudo %}
<div class="container">
    <h2>Chat Geral</h2>
    <div class="row">
        <div class="col-md-8">
            <div id="chat-container" style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: auto;">
                {% for message in messages %}
                <div class="balao-container">
                    {% if message.sender.username == user.username %}
                    <div class="balao-mensagem-user">
                        <p>{{ message.sender }}: {{ message.content }}</p>
                    </div>
                    {% else %}
                    <div class="balao-mensagem-geral">
                        <p>{{ message.sender }}: {{ message.content }}</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form method="post" action="{% url 'send_message' %}">
                {% csrf_token %}
                <div style="text-align: center;">
                    <td><input type="text" name="message" class="form-control mb-2" placeholder="Digite sua mensagem" required></td>
                 <td><button type="submit" class="btn btn-primary">Enviar para o Chat Geral</button></td>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <!-- Seu código HTML existente para a lista de usuários -->
        </div>
    </div>
</div>
{% endblock %}
