{% extends 'paginas/base.html' %}
{% block conteudo %}

<div class="body-home">
    <div class="frase_inicial">
        <h2>Olá, {{ user.username }}!</h2>
    </div>

    <div class="balao-titulo">
        <p>MURAL DE ATIVIDADES</p>
    </div>

    <form id="form-atividade" method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="classe-atividade">
            <input class="atividade" type="text" name="nova_atividade_nome" placeholder="Nome da atividade" required>
        </div>

        <div>
            <input class="adicionar-atividade" type="submit" value="Adicionar atividade">
        </div>
        
    </form>

    {% for atividade in atividades %}
    <div class="balao-entrevista">
        <p>{{ atividade.nome }}</p>
        <div class="opcoes-entrevista">
            <div class="opcao-gaveta" onclick="toggleGaveta(this)">
                <p>{{atividade.usuario_atribuido}}</p>
                <div class="gaveta hidden">

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        function toggleGaveta(element) {
            const gaveta = element.querySelector('.gaveta');
            gaveta.classList.toggle('show');
        }
    </script>


</div>

<script>
    function toggleGaveta(element) {
        const gaveta = element.querySelector('.gaveta');
        gaveta.classList.toggle('show');
    }
</script>

{% endblock %}
