{% extends 'paginas/base.html' %}
{% block conteudo %}

<div class="container">
    <h2>Olá, Usuário!</h2>
    <img src="c:\Users\Lenovo\Desktop\projetos\img home.jpeg">
    <h1>Caçadores de Bons Exemplos</h1>
    <a href="projetos.html">
        <button>Projetos</button><br>
    </a>
    <a href="caçadores.html">
        <button>Caçadores</button><br>
    </a>
    <a href="url-da-outra-pagina.html"> <!-- ainda precisa completar -->
        <button>Chat Geral</button><br>
    </a>
    <a href="voluntarios.html">
        <button>voluntarios</button><br>
    </a>
    <a href="divulga.html"> <!-- ainda precisa completar -->
        <button>Divulga+</button><br>
    </a>
    <p>Boa comunicação é a chave</p>
</div>

{% endblock %}