{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="logo_login">
        <img src="{% static 'midia\Group 10.png' %}" alt="Logo Conecta +">

    </div>
    &nbsp;
    <div class="corpo-login">
        <form action="" method="POST">
          {% csrf_token %}
        
          {{ form.non_field_errors }}
        
          <div class="placeholder_login">
            <div class= "plano_fundo-login">
              &nbsp;
              
              <!-- Input do Nome -->
              <div class="login_palavras">
                <label for="{{form.username.id_for_label}}"><b>Usuário</b></label>
                <div class="input-login">
                    <input type="text"  name="username" placeholder="Usuário">
                  </div>
              </div>
        
              <!-- Input da Senha1 -->
              <div class="login_palavras">
                <label for="{{form.password1.id_for_label}}" ><b>Senha</b></label>
                <div class="input-login">
                    <input type="password" class="form-control mb-3" name="password" placeholder="********">
                </div>
              </div>
        
              <div class="botoes-login">
                <form method="POST" action="{% url 'home' %}">
                  {% csrf_token %}
                  <input type="submit" value="Entrar">
                </form>
              </div>
              <div class="botoes-login">
                <form method="POST" action="{% url 'cadastro' %}">
                  {% csrf_token %}
                  <input type="submit" value="Cadastrar">
                </form>
              </div>
              
            </div>
          </div>
        </form>
      </div>
        <!-- Mensagem de erro -->
        
        <div class="form-group row justify-content-center align-items-center">
          {% if form.errors or form.non_field_errors %}
            <div class="col-sm-12"> 
              {% for field in form%}
                {{ field.errors }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        
        
        &nbsp;  
    
</body>
</html>