{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="logo_login">
        <img src="https://cdn.discordapp.com/attachments/1167235296195248150/1167236171051585659/image.png?ex=654d6465&is=653aef65&hm=bbea7e9c9b0140a3cf14f15697a47f05207ecf1d30f0b6fe4f58f80474bcfe55&" alt="logo_inicio">

    </div>
    &nbsp;
        <form action="" method="POST">
          {% csrf_token %}
        
          {{ form.non_field_errors }}
        
          <div class="login">
            <div class= "plano_fundo">
              &nbsp;
              
              <!-- Input do Nome -->
              <div class="cadastro_palavras">
                <label for="{{form.username.id_for_label}}"><b>Usuário</b></label>
                <div class="input-login">
                    <input type="text"  name="username" placeholder="Usuário">
                  </div>
              </div>
        
              <!-- Input da Senha1 -->
              <div class="cadastro_palavras">
                <label for="{{form.password1.id_for_label}}" ><b>Senha</b></label>
                <div class="input-login">
                    <input type="password" class="form-control mb-3" name="password" placeholder="********">
                </div>
              </div>
        
             
                <form method="POST" action="{% url 'home' %}">
                  {% csrf_token %}
                  <input type="submit" value="Entrar">
                </form>
        
                <form method="POST" action="{% url 'cadastro' %}">
                  {% csrf_token %}
                  <input type="submit" value="Cadastrar">
                </form>
              
            </div>
          </div>
        </form>

        <!-- Mensagem de erro -->
        <div class="form-group row justify-content-center align-items-center">
          {% if form.errors or form.non_field_errors %}
            <div class="col-sm-12"> 
              {% for field in form%}
                {{ field.errors }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        
        
        &nbsp;  
    
</body>
</html>