{% extends 'paginas/base.html' %}

{% block conteudo %}
<div class="body-projetos">
    <h1>Projetos:</h1>
    <h1>Lista de Projetos</h1>

    <form method="get" action="{% url 'projetos' %}">
        
        <select name="state_project" id="state_project">
            <option value="">Todos os Estados</option>
            {% for state_option, state_label in projetos.UNIDADES_FEDERATIVAS %}
                <option value="{{ state_option }}" {% if state_option == selected_state %}selected{% endif %}>
                    {{ state_label }}
                </option>
            {% endfor %}
        </select>

        <select name="city_project" id="city_project">
            <option value="">Todas as Cidades</option>
            {% for city_option in unique_cities %}
                <option value="{{ city_option }}" {% if city_option == selected_city %}selected{% endif %}>
                    {{ city_option }}
                </option>
            {% endfor %}
        </select>
      
        <input type="submit" value="Filtrar">    
    </form>
    
    <div class="botao-cadastro-projeto">
        <form action="{% url 'cadastro_projetos' %}" method="GET">
            <input type="submit" value="Cadastrar" id="botao-cadastro_projeto" class="botao-cadastro-projeto">
        </form>
    </div>
    

    <table class="tabela_projetos">
        <tbody>
            {% if projetos %}
                {% for projeto in projetos %}
                    <tr>
                        <td class="nome-projeto">{{ projeto.name }}</td>
                        <td class="localizacao-projeto">{{ projeto.cidade }}, {{ projeto.estados }}</td>

                        <td>
                            <div class="availability">
                                {% if projeto.ativo %}
                                    <span class="dot green"></span>
                                {% else %}
                                    <span class="dot red"></span>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="mensagem-vazio">😔 Nenhum projeto encontrado. 😔</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    
</div>
{% endblock %}
