{% extends 'paginas/base.html' %}

{% block conteudo %}
<div class="body-projetos">
    <h1>Voluntários:</h1>
    <h1>Lista de Voluntários</h1>

    <form method="get" action="{% url 'projetos' %}">
        <label for="state_project">Filtrar por Estado:</label>
        <select name="state_project" id="state_project">
            <option value="">Todos os Estados</option>
            {% for state_option in unique_states %}
                <option value="{{ state_option }}" {% if state_option == selected_state %}selected{% endif %}>{{ state_option }}</option>
            {% endfor %}
        </select>

        <label for="city_project">Filtrar por Cidade:</label>
        <select name="city_project" id="city_project">
            <option value="">Todas as Cidades</option>
            {% for city_option in unique_cities %}
                <option value="{{ city_option }}" {% if city_option == selected_city %}selected{% endif %}>{{ city_option }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Filtrar">
    </form>

    <table class="tabela_projetos">
        <tbody>
            {% if projetos %}
                {% for projeto in projetos %}
                    <tr>
                        <td class="nome-projeto">{{ projeto.nome }}</td>
                        <td class="status-projeto">{{ projeto.status }}</td>
                        <td class="localizacao-projeto">{{ projeto.cidade }}, {{ projeto.estado }}</td>

                        <td>
                            <div class="availability">
                                {% if projeto.ativo %}
                                    <span class="dot green"></span>
                                {% else %}
                                    <span class="dot red"></span>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="mensagem-vazio">😔 Nenhum projeto encontrado. 😔</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
